Django>=5.0,<5.1
gunicorn
python-decouple  # for fot envvariables
psycopg[binary]  # PostgreSQL adapter for Python
dj-database-url
requests
whitenoise  # for serving static files in production
django-allauth[socialaccount]
django-allauth-ui
django-widget-tweaks

